.comments {
  margin: 0 auto;
  background: #EEEEEE;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 40px; }
  .comments p {
    font-size: 22px;
    margin-bottom: 5px; }

.comments__wrapper {
  max-width: 700px;
  margin: 0 auto; }

.comments__textarea {
  padding: 10px;
  width: 100%;
  height: 150px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none; }

.comments__input {
  display: block;
  width: 100%;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px !important;
          border-radius: 5px !important; }

.comments__button {
  background: #505050;
  color: white;
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
  margin-top: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.comments__socials {
  text-align: right;
  margin-top: 10px; }

.comments__list {
  margin-top: 30px; }

.comments__item {
  position: relative;
  background: white;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px; }

.comments__item_answer {
  width: 95%;
  left: 5%; }

.comments__name {
  margin-bottom: 10px; }

.comments__date {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
  color: gray; }

.comments__link {
  display: inline-block;
  text-align: right;
  color: #4AC7E9;
  float: right;
  text-decoration: none; }
